@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+ES:wght@100..400&display=swap');

:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	/* Change favorite color */
	--hue-color: 325; /*250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL color mode first color --> Hex	#f9660b*/
	--background: rgb(255, 238, 255);
	--main-base: /* #8758ff */ #7ad7f0;
	--main-box: /* #8758ff*/ #44c8e0;
	--main-text: #fff;
	--new-task: rgb(183, 183, 255);
	--new-task-hover: rgb(219, 208, 255);
	--todo-wrapper: /*#1A1A40*/ /*#6b717e*/ #fd7ac0;
	--todo-placeholder: #ffffff4d;
	--completed: /*#f7d4e0*/ rgb(255, 183, 255);
}

* {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../src/components/images/hhholographic.png);
	background-size: cover;
	background-position: center;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

h1 {
	font-family: 'Playwrite AU VIC', cursive;
	color: var(--main-text);
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

h2 {
	font-family: 'Playwrite AU VIC', cursive;
	color: black;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.TodoWrapper {
	background: var(--todo-wrapper);
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 3rem;
	border-radius: 10px;
	width: 100%;
}

.TodoForm {
	width: 100%;
	margin-bottom: 1rem;
}

.newtask-btn {
	background: var(--new-task);
	border: none;
	color: var(--main-text);
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.5rem;
	font-size: large;
}

.newtask-btn:hover {
	background: var(--new-task-hover);
	color: var(--main-text);
	font-style: bold;
	transform: scale(1.1);
}

.small-newtask-btn {
	background: var(--new-task);
	border: none;
	color: var(--main-text);
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.5rem;
}

.small-newtask-btn:hover {
	background: var(--new-task-hover);
	color: var(--main-text);
	font-style: bold;
	transform: scale(1.1);
}

.todo-btn {
	background: var(--main-box);
	border: none;
	color: var(--main-text);
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.5rem;
}

.todo-btn:hover {
	background: var(--main-base);
	color: var(--main-text);
	transform: scale(1.1);
}

.Todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--main-base);
	color: var(--main-text);
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.fa-trash {
	margin-left: 0.75rem;
}

.completed {
	color: var(--completed);
	text-decoration: line-through;
}

.edit-icon,
.delete-icon {
	cursor: pointer;
}

.error {
	color: red;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}


.weather-time {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 8px;
	border: 2px solid var(--todo-wrapper);
	z-index: 1000; /* Ensure it stays on top of other elements */
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
	.TodoWrapper {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.TodoWrapper {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.TodoWrapper {
		width: 95%;
		padding: 1rem;
	}
}

@media (max-width: 576px) {
	.TodoWrapper {
		width: 90%;
		margin: 1rem;
		padding: 1rem;
	}
	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	.weather-time {
		display: none; /* Hide weather-time on small screens */
	}
}

