@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+ES:wght@100..400&display=swap');

:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	/* Change favorite color */
	--hue-color: 325; /*250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL color mode first color --> Hex	#f9660b*/
	--main-base: /*hsl(var(--hue-color), 100%, 72%)*/ /* #8758ff */ #7ad7f0;
	--main-box: /*hsl(var(--hue-color), 100%, 72%)*//* #8758ff*/
		#44c8e0;
	--main-text: /*hsl(var(--hue-color), 100%, 72%)*/ #fff;
	--todo-wrapper: /*hsl(var(--hue-color), 57%, 53%)*//*#1A1A40*/
		/*#6b717e*/ #fd7ac0;
	--todo-placeholder: /*hsl(var(--hue-color), 95%, 51%)*/ #ffffff4d;
	--completed: /*hsl(var(--hue-color), 8%, 15%)*/ /*#f7d4e0*/ rgb(
		255,
		183,
		255
	);
}

* {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../src/components/images/hhholographic.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
}

h1 {
	font-family: 'Playwrite AU VIC', cursive;
	color: var(--main-text);
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

h2 {
	font-family: 'Playwrite AU VIC', cursive;
	color: black;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.TodoWrapper {
	background: var(--todo-wrapper);
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 10px;
}

.TodoForm {
	width: 100%;
	margin-bottom: 1rem;
}

.todo-btn {
	background: var(--main-box);
	color: var(--main-text);
	border: 1.5px;
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.5rem;
}

.sort-buttons {
  margin: 20px 0;
}

.sort-buttons .todo-btn {
  margin-right: 10px;
}


.todo-btn:hover {
	background: var(--main-base);
	color: var(--main-text);
	transform: scale(1.1);
}

.Todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--main-base);
	color: var(--main-text);
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.fa-trash {
	margin-left: 0.75rem;
}

.completed {
	color: var(--completed);
	text-decoration: line-through;
}

.edit-icon,
.delete-icon {
	cursor: pointer;
}

.error {
	color: red;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

